workflows/Postgres to Excel.json
{
  "name": "Postgres to Excel",
  "nodes": [
    {
      "parameters": {
        "command": "cd /files/scripts && python3 export_property.py"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Execute Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\nconst stderr = $input.first().json.stderr;\nconst exitCode = $input.first().json.exitCode;\n\nif (exitCode !== 0) {\n  throw new Error(`Script failed (exit code ${exitCode}):\\n${stderr}`);\n}\n\nreturn [{\n  json: {\n    success: true,\n    message: stdout.trim(),\n    exitCode\n  }\n}];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Check Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ],
      "id": "9d147878-a048-4bd6-a844-91995c98a882",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Python Script": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Python Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ffb3ad6-56af-4714-bcf8-c940ae20b590",
  "meta": {
    "instanceId": "4c264dfe106a5fd71dc8c84cbe6815239f5ccdabe38ec140a9031eb346b7aa66"
  },
  "id": "nVkXQ5nmwSax3Akl",
  "tags": []
}